<div class="pokemon">
  <h2>Edit Trainer</h2>

  <form action="/trainers/<%= @trainer.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <label>Name:</label>
    <input type="text" name="trainer[name]" value="<%= @trainer.name %>">
    <label>Level:</label>
    <input type="text" name="trainer[level]" value="<%= @trainer.level %>">
    <label>Image URL:</label>
    <input type="text" name="trainer[img_url]" value="<%= @trainer.img_url %>">
    <input type="submit" value="Update Trainer">
  </form>

  <h2>Delete Trainer</h2>
  <form action="/trainers/<%= @trainer.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
</div>
