<div class="containareon">
  <h3><%= @trainer.name %></h3>
  <p>Level: <%= @trainer.level %></p>
  <img src="<%= @trainer.img_url %>">
  <p>Pokemon: <%= @pokemons.join(", ") %></p>
  <p><a href="/trainers">Back to listings</a></p>
  <p><a href="/trainers/<%= @trainer.id %>/edit">Edit Trainer</a></p>
</div>
